.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    align-content: center;
    justify-content: center;

    width: 100%;
    min-width: 312px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: var(--tertiary-color);
    padding: 1.25rem;
}

.container h1 {
    font: var(--title-large);
    margin-bottom: 2rem;
}

.container h2 {
    font: var(--title-medium);
    margin-bottom: 1.375rem;
}

.container span {
    font: var(--body-small);
    color: var(--secondary-title-color);
    display: block;
}

.container .data {
    width: 117px;
}

.container .sexContainer .men, .container .sexContainer .women {
    font: var(--body-small);
    color: var(--primary-subtitle-color);
}

.container .sexContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container .graphic {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-self: center;
}

.container .info {
    padding: 0 0.625rem;
    background: #FFEFE7;
    border-radius: 4px;
}

@media screen and (max-width: 466px) {
    .container {
        min-width: 0;
    }
}