.buttonContainer {
  display: flex;
  gap: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  min-height: 100vh;
}

.container section:nth-child(2) {
  padding: 6rem;
}
/* .left {
    padding: 32px;
    background-color: #D9D9D9;
    display: flex;
    width: 50%;
    flex-direction: column;
    height: 100vh;
}

.superior{
    display: flex;
    justify-content: space-between;
}

.point{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.base {
    display: flex;
    justify-content: space-between;
    margin-top:-145px;
    align-items: self-end;
}




 */

.illustration {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: 32px;
}

.pointsRight {
  position: absolute;
  top: 32px;
  right: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pointsLeft {
  position: absolute;
  bottom: 32px;
  left: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topTriangle {
  position: absolute;
  top: 32px;
  left: 32px;
}

.bottomTriangle {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.logo {
  height: fit-content;
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px
}

.logo h1 {
  font: var(--title-large);
  text-align: center;
  max-width: 380px;
  color: var(--tertiary-color);
}