.buttonContainer {
  display: flex;
  gap: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  min-height: 100vh;
}

@media screen and (max-width: 834px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.container section:nth-child(2) {
  padding: 6rem;
}

.illustration {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: 32px;
}

.pointsRight {
  position: absolute;
  top: 32px;
  right: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pointsLeft {
  position: absolute;
  bottom: 32px;
  left: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topTriangle {
  position: absolute;
  top: 32px;
  left: 32px;
}

.bottomTriangle {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.logo {
  height: fit-content;
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px
}

.logo h1 {
  font: var(--title-large);
  text-align: center;
  max-width: 380px;
  color: var(--tertiary-color);
}