.schedule {
    display: flex;
    flex-direction: column;
}

.schedule main span {
    font: var(--body-very-small);
}

.schedule h2 {
    font: var(--title-medium);
}

.schedule h6 {
    font: var(--subtitle-small);
    color: ;
}