.container {
  display: flex;
  justify-content: space-between;
  gap: 95px;
  
  padding: 12px 16px;
  background: var(--background-color);
  border: 1.5px solid #E0E0E0;
  border-radius: 6px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.message {
    font: var(--title-small);
}

.time {
    font: var(--body-very-small);
}
