.sidebar {
    height: 100vh;
    width: 100%;
    max-width: 242px;
    padding-top: 20px;
    background: var(--background-color);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.sidebar nav ul {
    list-style: none;
    font: var(--title-small);
    width: 212px;
    padding-left: 1.875rem;
}

.sidebar nav ul li {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding: 1rem 0;
}

.sidebar nav a{
    text-decoration: none;
    color: var(--secondary-subtitle-color);
}

.active {
    color: var(--main-color);
}

.header {
    text-transform: uppercase;
    font: var(--body-small);
    color: var(--secondary-subtitle-color);
    padding: 0.625rem 0;
    padding-left: 1.875rem;
}