.logo {
    font: 600 2.25rem/1.17 "Poppins", sans-serif;
    color: var(--tertiary-color);
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 982px) {
    .logo {
        font: 600 1.25rem/1.17 "Poppins", sans-serif;
        padding: 1px 0;
    }
}