.container {
    display: flex;
    flex-direction: column;

    background: var(--tertiary-color);
    color: #FFF;
}

.container header {
    background: #1B204A;
    padding: 0.625rem 0.625rem 0.625rem 1.5rem;
}

.container main {
    padding: 0.625rem 0.625rem 0.625rem 1.5rem;
}

.container main .text {
    padding-right: 63px;
}

.container main .text span {
    font: var(--body-very-small);
}

.container h2 {
    font: var(--title-medium);
}

.container h6 {
    font: var(--subtitle-small);
}

.container .activities {
    display: flex;
    justify-content: space-between;
}

.container .activities p {
    font: var(--capitalised);
}

.container .activities button {
    padding: 0.625rem 1rem;
    background: var(--main-color);
    color: #FFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}